*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.name
/Screen/al_quran Banner.png
/AlQuran.jks
/app/release/app-release.aab
/release/app-release.aab
/.idea/compiler.xml
/facebook12345678.jks
/.idea/gradle.xml
/Screen/Hotpot Design/Hotpot 0.png
/Screen/Hotpot Design/Hotpot 1.png
/Screen/Hotpot Design/Hotpot 2.png
/Screen/Hotpot Design/Hotpot 3.png
/Screen/Hotpot Design/Hotpot 4.png
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/Screen/logo1.png
/.idea/misc.xml
/Screen/Untitled/Screenshot_20230903-155930_Bangla Quran.png
/Screen/Untitled/Screenshot_20230903-155945_Bangla Quran.png
/Screen/Untitled/Screenshot_20230903-160007_Bangla Quran.png
/Screen/Untitled/Screenshot_20230903-160029_Bangla Quran.png
/Screen/Untitled/Screenshot_20230903-160039_Bangla Quran.png
/Screen/Untitled/Screenshot_20230903-160057_Bangla Quran.png
/Screen/Untitled/Screenshot_20230903-160113_Bangla Quran.png
/.idea/vcs.xml
