<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codercamp.quran">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
        <package android:name="com.github.android" />
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeLightPurple"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="com.codercamp.quran.activity.LanguageActivity"
            android:exported="true" />
        <activity android:name="com.codercamp.quran.activity.AboutActivity"/>
        <activity android:name="com.codercamp.quran.activity.SettingsActivity" />
        <activity android:name="com.codercamp.quran.activity.ParaActivity" />
        <activity android:name="com.codercamp.quran.activity.QuranMainActivity" />
        <activity android:name="com.codercamp.quran.activity.QuranActivity" />
        <activity
            android:name="com.codercamp.quran.activity.SurahActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.codercamp.quran.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.codercamp.quran.services.AudioService"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1337577089653332~9542261521"/>
    </application>

</manifest>